* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(Background_Picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: BarlowSemiCondensed-Light;
}

main {
    width: 90vw;
    max-width: 1200px;
    margin-top: 110px;
    margin-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

h1 {
    font-family: BungeeShade-Regular;
    color: rgba(255, 255, 255, 0.8);
    font-size: 72px;
    line-height: 1;
    margin: 20px 0 80px 20px;
}

nav {
    gap: 5px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

nav a {
    background-color: rgba(255, 255, 255, 0.6);
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}